/* Global */
:root {
    --title-gray: #4E5150;
    --gray-1: #333333;
    --gray-2: #4F4F4F;
    --gray-3: #828282;
    --gray-5: #E0E0E0;
    --gray-6: #F2F2F2;
    --gray-footer: #BDBDBD;
    --orange-1: #F2994A;
  --tan-crayola: rgb(255, 125, 26);
    --montserrat: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--montserrat);
}

#main {
    max-width: 1000px;
    margin: 0 auto;
}


h1 {
    font-weight: 600;
    color: var(--title-gray);
    font-size: 1.5rem;
    margin: 1.8rem 0 1.25rem 1.15rem;
}

h1 a {
    color: inherit;
    text-decoration: none;
}
/* Cuadro de items a comprar */
.ware {

    margin: 0 .8rem 1rem;
}

.ware > div {
    background-color: var(--gray-6);
    background-color: white;
    padding: 1.75rem 1.5rem 1.75rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.11);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.empty-cart {
    display: none;
}

.empty-cart.show {
    display: block;
}

.ware-cart.hide {
    display: none;
}

.form__btn.hide {
    display: none;
}

.item__figure {
    margin: 0 0 0rem;
    display: grid;
    grid-template-rows: 22% 22% 56%;
    grid-template-columns: 42% 58%;
    column-gap: 1rem;
}

.ware__item {
    border-bottom: 1px solid black;
    padding: 1rem 0;

}

.ware__item:last-child {
    border-bottom: none;
}

.item__figure--second {
    margin-bottom: 5rem;
}

.item__img {
    border-radius: 10px;
    min-width: 110px;
    width: 200px;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    justify-self: center;
    align-self: center;
    grid-row: 1 / span 4;
    grid-column: 1 / span 1;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.item__figure__figcaption {
    font-weight: 600;
    color: var(--title-gray);
    font-size: .75rem;
}

.item__figure__price {
    margin: 0;
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.figure__price--off {
    color: var(--orange-1);
    font-size: 1rem !important;
    margin-right: .8rem;
}

.figure__price--crossed {
    font-weight: 600;
    font-size: 1rem;
    color: var(--title-gray);
    text-decoration: line-through;
}

.item__cont {
    display: flex;
    align-items: flex-start;
    gap: .6rem;
    min-width: min-content;
    border-radius: 0px;
    padding: 0rem .2rem;
}

.item__cont span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--tan-crayola);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .4em;
    color: white;
}

.material-icons {
    color: var(--gray-3);
}

.confirm-order {
    display: none;
}

.confirm-order.show {
    display: block;
}

.ware__hide-label {
    position: absolute;
    left: -9999px;
}

.ware__input {
    pointer-events: none;
    text-align: center;
    width: 50%;
    border: none;
    background-color: transparent;
    font-family: var(--montserrat);
    font-size: 1rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.global__price {
    border-top: 1px solid var(--gray-footer);
    padding-top: .85rem;
    margin: 0 0 1rem;
    display: flex;
    justify-content: space-between;
    font-size: .875rem;
}

.global__price--shipping {
    padding-top: .6rem;
    margin-bottom: .65rem;
}

/* Formulario */
.form {
    font-weight: 600;
    margin: 3.25rem 0 6.1rem;
    padding: .5rem;
}

.fieldset {
    border: none;
    padding: 0;
}

.fieldset--contact {
    margin-bottom: 2.5rem;
}

.legend {
    font-size: .875rem;
    margin-bottom: .5rem;
}

.label {
    font-size: .625rem;
    display: inline-block;
    margin-bottom: .3rem;
}

.field {
    cursor: text;
    margin: 0 0 .75rem;
    display: flex;
    align-items: center;
    border: 1px solid var(--gray-3);
    border-radius: 6px;
    padding: .4rem;
}

.field--text {
    padding: .6rem;
}

.field__saveInfo {
    border: none;
    cursor: initial;
    margin-bottom: .8rem;
    padding-left: 0;
}

.label__saveInfo {
    margin: 0;
}

.saveInfo--pointer {
    cursor: pointer;
}

.content-field__shipping--country {
    position: relative;
}

.field__shipping--country {
    cursor: initial;
    padding: .7rem;
}

.input {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    color: var(--gray-1);
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: .75rem;
}

.input::placeholder {
    color: var(--gray-3);
}

.select__shipping {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select__shipping--default {
    color: var(--gray-3);
}

.select__shipping::-ms-expand {
    display: none;
}

.icon--select {
    cursor: default;
    position: absolute;
    right: .6rem;
    background-color: var(--gray-5);
    color: var(--gray-3);
    width: 18px;
    height: 18px;
    border-radius: 5px;
}

.material-icons.icon--select {
    font-size: 1.15rem;
}

.option--default {
    color: var(--gray-3);
}

.material-icons.form__icons {
    margin-right: .5rem;
    font-size: 20.8px;
}

.container-address-country {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.3rem;
}

.field__shipping--country, .field__shipping--zipCode {
    margin-bottom: .5rem;
}

.label__shipping--country, .label__shipping--zipCode {
    display: inline-block;
}

input[type=checkbox] {
    margin-right: .5rem;
}

.container__form__btn { text-align: right; }

.form__btn {
    cursor: pointer;
    font-family: var(--montserrat);
    color: #FFFFFF;
    font-weight: 600;
    background-color: var(--tan-crayola);
    outline: none;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 1rem 2.5rem;
}

.form__btn:active {
    background-color: #FFFFFF;
    color: var(--orange-1);
    border: 2px solid var(--orange-1);
}






/* ########################## */
/* ##### orders tab ###### */
/* ########################## */

.user_orders_list {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #333333;
    margin-bottom: 1rem;
}
.user_name {
    font-size: 2.4rem;
    font-weight: 700;
    margin: -1rem -1rem 0;
    padding: 2rem 1rem;
    background-color: rgba(var(--clr-primary));
    color: rgba(var(--clr-white), 1);
    text-transform: capitalize;
}

.user_order_item {
    background-color: rgba(var(--clr-primary), .2);
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
}

.order-cart .container__form__btn .form__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem .4rem;
    background-color: rgba(236, 37, 37, 0.87);
    color: white;
}

.order-cart .container__form__btn {
    display: flex;
    gap: 1rem;
}

.order-form {
    background-color: white;
    padding: 1rem !important;
    margin-bottom: 1rem !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: .4rem;
}

.order_info {
    font-size: .8rem;
}

.order_info>span {
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.1);
    padding: .1rem .4rem;
    border-radius: 1rem;
}

/* Footer */
.footer {
    text-align: center;
    font-size: .875rem;
    color: var(--gray-footer);
    font-weight: 600;
}

.footer__link {
    color: inherit;
    font-weight: 700;
}

/* Botón de la alerta cuando se envían exitosamente los datos del formulario */
.swal2-confirm.swal2-styled {
    background-color: #EC730A;
    font-family: var(--montserrat);
}

/* MEDIA QUERIES */
/* MOBILE */
@media only screen and (max-width: 300px) {
    .container-address-country {
        display: none;
    }
}

@media only screen and (min-width: 500px) {
    .item__figure__figcaption {
        font-size: .825rem;
    }

    .figure__price--off {
        font-size: .95rem;
    }

    .figure__price--crossed {
        font-size: .725rem;
    }

    .label {
        font-size: .7rem;
    }

    .item__figure {
        grid-template-rows: 18% 18% 64%;
        grid-template-columns: 42% 58%;
        column-gap: 1.5rem;
    }
}

@media only screen and (min-width: 538px) {
    .ware {
        margin: 0 auto 1rem;
        max-width: 450px;
    }

    .form {
        margin: 3.25rem auto 6.1rem;
        max-width: 510px;
    }
}

/* TABLETS */
@media only screen and (min-width: 760px) {
    #main {
        padding: 0 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        column-gap: 2.5rem;
        justify-items: center;
    }

    h1 {
        font-size: 1.8rem;
        margin: 2.5rem 0 2.5rem 1.15rem;
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        justify-self: flex-start;
    }

    .form {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        margin-top: 0;
        padding: 0;
    }

    .ware {
        align-self: flex-start;
    }

    @media only screen and (min-height: 1024px) {
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
}

/* DESKTOPS */
@media only screen and (min-width: 990px) {
    #main {
        margin-bottom: 9rem;
    }

    h1 {
        margin-left: 0;
    }

    .item__figure__figcaption {
        font-size: .96rem;
    }

    .item__cont__btns {
        width: 7.7rem;
    }

    .global__price {
        font-size: .925rem;
    }

    .form {
        margin-bottom: 0;
    }

    .fieldset {
        margin-left: 0;
        margin-right: 0;
    }

    .fieldset--contact {
        margin-bottom: 2.75rem;
    }

    .legend {
        font-size: 1.05rem;
        margin-bottom: .9rem;
    }

    .field--text {
        margin-bottom: 1.05rem;
        padding: .95rem .7rem;
    }

    .field__shipping--country {
        padding: .95rem .7rem;
    }

    .field__saveInfo {
        margin-bottom: 1.7rem;
    }

    .label {
        font-size: .8rem;
        margin-bottom: .4rem;
    }

    .label__saveInfo {
        margin-bottom: 0;
    }

    .input {
        font-size: .8rem;
    }

    .saveInfo--pointer {
        margin-left: 0;
    }
}